.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
    border: 1px solid gray;
    background-color: var(--header-footer-color);
    font-size: large;
}

.footer a{
    padding: ;
    color: white;
}
