.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--header-footer-color);
    color: white;
    padding: 0 10px;
}

.header input {
    width: 30%;
    padding: 0px 20px;
    margin: 20px 0;
    font-size: large;
    box-sizing: border-box;
    border-radius: 20px;
}

